body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: center;
  margin: 0 auto;
}
.settings {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px black solid;
}
.grid-item {
  margin: 0px;
  padding: 0px;
}
